    
.white-box {
    position: relative;
    z-index: 3;
    max-width: 55%;
    min-width: 55%;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    padding: 2.5%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    background: rgba(255, 255, 255, 0.9);
    margin: 0 auto;
    h1{
        font-size: 18px;
        
    }
}

.logo-box{
    .tolka-logo {
        width: 200px;
        height: 200px;
    }
}

.container{max-width: 1140px;
    margin: 0 auto;
width: 100%;
padding: 5% 0;
}

.mdcl-hero{
    padding: 5% 0;
}
