@import "colors";
@import "typography";
@import "structure";

$smallPhonePair: 0px 425px;
$smallPhone: 0px;
$phone: 426px;
$phonePair: 426px 500px;
$tablet: 501px;
$tabletPair: 501px 700px;
$smallScreen: 768px;
$smallScreenPair: 768px 1000px;
$largeScreen: 1100px;
$largeScreenPair: 1000px 2000px;